body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}
.bod{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
        margin-left: 260px;

}
/* Resetări pentru body și html */

/* Adaugă padding la body pentru a compensa înălțimea header-ului */
body {
        height: 100%;

    padding-top: 0px; /* Ajustează această valoare în funcție de înălțimea reală a header-ului tău */
}

.login-container {

    margin-left: 350px;
    display: flex;
    column-gap: 100px;
    justify-content: space-between;
        align-items: center;

}

.login-form {
    background: #fff;
    padding: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-form h2 {
    margin-top: 0;
    color: #333;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #5c67f2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #4a54e1;
}
