<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
   <h2>My Name</h2>


                    <div class="login-container">
                        <div class="login-form">
                            <h1>Admin Login</h1>
                            <form action="/admin-login" method="post"> <div class="form-group mb-3"> <label for="admin_username">Username/Email:</label>
                                    <input type="text" class="form-control" id="admin_username" name="username" required>
                                </div>
                                <div class="form-group mb-3"> <label for="admin_password">Password:</label>
                                    <input type="password" class="form-control" id="admin_password" name="password" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Admin Login</button>
                            </form>
                            </div>
                    </div>
        <div class="single-slider" style="background-image:url('{{ url_for("static", filename="img/blue_waves.jpg") }}')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                         <div class="text"> <h1>User Login</h1>
                             <form action="/user-login" method="post"> <div class="form-group mb-3"> <label for="user_username">Username/Email:</label>
                                    <input type="text" class="form-control" id="user_username" name="username" required>
                                </div>
                                <div class="form-group mb-3"> <label for="user_password">Password:</label>
                                    <input type="password" class="form-control" id="user_password" name="password" required>
                                </div>
                                <button type="submit" class="btn btn-primary">User Login</button>
                            </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>
</body>

</html>
